{% extends "base.html" %}
{% block content %}
	<section>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="p-5">
						<img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/01.jpg') }}" alt="">
	                </div>
					</div>
					<div class="col-lg-6 order-lg-1">
						<div class="p-5">
							<h2 class="display-4">About us</h2>
							<p>I love working on Make me a cocktail, trying to create new functionality for users and help them create great cocktails from limited budgets or hoards of spirits. But it takes me hundreds of hours and literally thousands of pounds a year to sustain.
                             Keeping it a responsive, fast, healthy site means it's partially subsidised by the generous support of users like you, partially from adverts and the rest is taken out of my own pocket as my labour of love. So if you find any joy, use or help in it, please consider a modest donation - however much you can afford when it comes from the heart, it's the kind of gesture that makes me warm with appreciation.</p>
						</div>
					</div>
				</div>
			</div>
	</section>

{% endblock %}