{% extends "base.html" %}
{% block content %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Cocktail Book </h1>
        <a href="{{ url_for('register') }}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up</a>
      </div>
    </div>
</header>
 <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="https://media.istockphoto.com/vectors/bar-equipment-tools-vector-id1163720241" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-6">WE’RE ALL ABOUT COCKTAILS.</h2>
            <p>If you’re a bartender, bar operator, or just someone looking to make and sharing delicious cocktails – you’re in the right place!
            Share and find cocktails with the world!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}