{% extends "base.html" %}
{% block content %}

  <h3 class="center-align">
        Register
        <hr class="underline s8 m8 l8">
    </h3>

    <div class="row">
        <form class="col s12 m10 l8 offset-m1 offset-l2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel grey lighten-5">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-user prefix" style="color: tomato;"></i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-ZA-z0-9]{5,15}$" class="validate" required>
                        <label for="username" class="label">Username (5-15 characters)</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key prefix" style="color: tomato;"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-ZA-z0-9]{5,15}$" class="validate" required>
                        <label for="password" class="label">Password (5-15 characters)</label>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-at prefix" style="color: tomato;"></i>
                        <input id="email" name="email" type="email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                class="validate" required>
                        <label for="email" class="label">Email</label>
                    </div>
                </div>
                <!-- Register Button -->
                <div class="row center-align">
                    <button type="submit" class="btn-small">
                        Register 
                    <br>
                    <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center align">
                Already have an account?
                <a href="{{ url_for('index') }}" class="deep-orange-text lighten-3 text-darken-4">Log In</a>
            </p>
        </div>
    </div>


{% endblock %}